/*
 * Modified memory map and reservation apertures for the
 * definition of shared and private cache partitions.
 * 
 * This configuration is intended to be used with Jailhouse-RT.
 * see /path/to/jailhouse/configs/arm64/zynqmp-zcu102-root-pvtsh.c
 *
 * Renato Mancuso  <rmancuso@bu.edu>
 *
 */

/ {
  
	//reserved-memory {	
	//	#address-cells = <2>;
	//	#size-cells = <2>;
	//	ranges;

		// jailhouse_mem: jailhouse_mem@87d000000 {
		// 	 no-map;
		//          reg = <0x8 0x7d000000 0x0 0x03000000>;
		// };

		// private_lo1: privatelo1@00000000 {
		//          reg = <0x0 0x00000000 0x0 0x20000000>;
		// };

		// private_lo2: privatelo2@20000000 {
		//          reg = <0x0 0x20000000 0x0 0x20000000>;
		// };

                // private_lo3: privatelo3@40000000 {
		//          reg = <0x0 0x40000000 0x0 0x20000000>;
		// };

		// private_lo4: privatelo4@60000000 {
		//          reg = <0x0 0x60000000 0x0 0x20000000>;
		// };
//}
	reserved-memory {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;
                jailhouse_mem: jailhouse_mem@87d000000 {
                         no-map;
                         reg = <0x8 0x7d000000 0x0 0x03000000>;
                };
                // NOTE: cannot start from 0x0 because this DTB still
                // has somewhere a mapping for e.g., the ethenet there
                // and linux is not going to like it.
                private_lo1: privatelo1@10000000 {
                         reg = <0x0 0x10000000 0x0 0x10000000>;
                };
                private_lo2: privatelo2@20000000 {
                         reg = <0x0 0x20000000 0x0 0x10000000>;
                };
                private_lo3: privatelo3@30000000 {
                         reg = <0x0 0x30000000 0x0 0x10000000>;
                };
                private_lo4: privatelo4@40000000 {
                         reg = <0x0 0x40000000 0x0 0x10000000>;
                };
                // NOTE: foo-private region to fill up as reserved
                // the first 2GB RAM completly.
                private_foo: privatefoo@50000000 {
                         reg = <0x0 0x50000000 0x0 0x30000000>;
                };
        };


};